<div class="product-detail" *ngIf="product">
  <img [src]="product.images | firstImage" [alt]="product.name" />
  <h2>{{ product.name }}</h2>
  <p>{{ product.description }}</p>
  <p>{{ product.price * selectedQuantity | currency }}</p>

  <select
    [(ngModel)]="selectedQuantity"
    class="form-select"
    style="width: 100px; margin: 1em"
  >
    <option [value]="1">1</option>
    <option [value]="2">2</option>
    <option [value]="3">3</option>
    <option [value]="4">4</option>
    <option [value]="5">5</option>
  </select>

  <button (click)="addToCart()">Add to Cart</button>

  <div *ngIf="showNotification" class="notification">
    {{ notificationMessage }}
  </div>
</div>
