<!-- <div class="navbar" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="nav-item"><a routerLink="/">Products</a></div>
    <div class="nav-item"><a routerLink="cart/">Cart</a></div>
</div> -->




<!-- <h1 routerLink="/products">My Store</h1>
<nav>
  <a routerLink="/products" routerLinkActive="active">Products</a>
  <a routerLink="/cart" routerLinkActive="active">Cart</a>
</nav> -->




<nav class="nav-bar">
  <button><a routerLink="/products">Products</a></button>
  <button><a routerLink="/cart">Cart</a></button>
</nav>